body {
    padding-top: 50px;
}

/************** MODAL TWITCH FIX *****************/
.modal-open {
    padding-right: 0 !important;
}
html {
    overflow-y: scroll !important;
}
/************** MODAL FIX END *****************/

/************** LOGIN PAGE ****************/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.modal-input input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modal-input input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

span.input-group-addon {
    width: 50px;
}

div.input-group {
    width: 100%;
}

form.form-signin {
    background-color: #ffffff;
}
/************** LOGIN PAGE END ****************/

/************** RESULT PAGE ****************/
.results td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.results tr:nth-child(even){background-color: #f2f2f2;}

.results tr:hover {background-color: #ddd;}

.results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5498cb;
    color: white;
}

.not-graded {
    color: red;
}
/************** RESULT PAGE END ****************/

/************** THEORETICAL PAGE ****************/


.question-head {
    background-color: #5498cb;
}

.theoretical-container {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}
.theoretical tr:hover {background-color: #ddd;}

.theoretical tr:last-child:hover {background-color: transparent;}

.theoretical .questions {
    width: 100%;
    border: none;
    background:rgba(0,0,0,0);
    padding: 5px;
}

.theoretical .answers {
    width: 100%;
    border: none;
    background:rgba(0,0,0,0);
    padding: 10px;
}

.editTheoretical, .deleteTheoretical {
    font-size: 14px;
}

.edit-successful {
    opacity: 0;
    color: green;
}

.edit-error {
    opacity: 0;
    color: red;
}

/*************** placeholder text ********************/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #504f60;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #504f60;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #504f60;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #504f60;
}
/************** THEORETICAL PAGE END ****************/