/* import fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* font for front page text*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 120px;
    background-color: #eeeeee;
    font-family: Lato;
}

.welcome-text{
    box-shadow: 5px 5px 3px lightgrey;
    background-color: #fff;
}

/************ FOOTER AND HEADER *********************/
/* header */
.container-fluid {
    border-bottom: solid 3.5px #5498cb;
}

#khk-logo {
    height: 45px;
    margin-top: 5px;
    padding-bottom: 5px;
}

/* header end */

/* footer */
#fb-logo {
    height: 50px;
}

#fb-logo:hover {
    opacity: 0.70;
}

.footer-block {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: solid 2px #5498cb;
}

@media (min-width: 10px) and (max-width: 1000px) {

    footer {
        position: static;
        height: 60px;
        margin-top: 20px;
    }
}
/* footer end */
/************ FOOTER AND HEADER END *********************/

/************ TEST PAGE *********************************/

.quiz-title{
    text-shadow: 4px 4px 6px lightblue;
}

#quiz ul li {
    list-style: none;
    margin-top: 1%;
    margin-left: 32.5%;
    margin-bottom: 3%;
    line-height: 3em;
    text-align: center;
    background: #d90;
    border-radius: 2em;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
    width: 30%;
    padding: 0.5%;


}

#quiz ul li:hover{
    background-color:  #ffc233;
    color: #000;
}

#quiz label{
    font-size: 18px;
}

#quiz p{
    text-align: center;
    margin-top: 1%;
    font-size: 24px;
}

#quiz article{
    border: solid 1px #fff;
    background-color: #fff;
    margin-top: 2%;
    box-shadow: 5px 5px 3px lightgrey;
}

.answer-right{
    background: transparent;
    color: #fff;
}

.quiz-radio{
    -webkit-appearance: none;
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 30%;
}

.quiz-radio:checked:after {
    content: '✔';
    font-size: 16px;
    position: relative;
    color: #d90;
}

#submit-quiz{
    margin-top: 2%;
    margin-left: 45%;
}
/************ TEST PAGE END ******************************/

/************ PRACTICAL PAGE *****************************/
.toDo{
    text-align: center;
    margin-bottom: 2%;

}

#practical-questions article{
    border: solid 1px #fff;
    background-color: #fff;
    margin-top: 2%;
    box-shadow: 5px 5px 3px lightgrey;
    margin-bottom: 2%;
}

#practical-questions ul li{
    list-style: none;
    background: #d90;
    border-radius: 1.5em;
    color: #fff;
    transition: 0.2s;
    width: 50%;
    padding: 1%;
    margin-top: 1%;
    margin-left: 25%;
    margin-bottom: 1%;
}

#practical-checkbox{
    -webkit-appearance: none;
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 30%;
    display: inline-block;
    position: relative;
    float: right;
}

#practical-checkbox:checked:after {
    content: '✔';
    font-size: 16px;
    position: relative;
    color: #d90;
}

#question-left{
    background-color: transparent;
    color: #fff;
    margin-right: 30px;
    float: left;
    font-size: 18px;
}

#target{
    background-color: #d90;
    box-shadow: 5px 5px 3px lightgrey;

}

#submit-practical{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 45%;
    border-color: #fff;
    color: #fff;
}
/************ PRACTICAL PAGE END *************************/

/************ PRACTICAL RESULT VIEW PAGE ******************/

#ifm{
    border: solid 1px #fff;
    background-color: #fff;
    box-shadow: 5px 5px 3px lightgrey;
}

#submit-view{
    margin-top: 2%;
    margin-left: 45%;
}

#result-iframe{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -200px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1200px;
    -webkit-transform:scale(0.35);
    -moz-transform:scale(0.35);
    -o-transform:scale(0.35);
    transform:scale(0.35);
}

#iframe-container {
    padding-bottom: 400px;
}

#preview {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 3px lightgrey;
}

.CodeMirror {
    height: 412px;
}

@media (min-width: 10px) and (max-width: 1000px) {

    footer {
        top: 700px;
    }

    iframe {
        top: -100px;
        height: 1000px;
    }
}

/************ PRACTICAL RESULT VIEW PAGE END **************/


/************ FINISHED PAGE *******************************/
#score {
    /*border-top: solid 1px #5498cb;*/
    margin-top: 10%;
    box-shadow: 5px 5px 3px lightgrey;
    background-color: #fff;

}

/* some yellow text or sign */
mark.orange {
    color: #d90;
    background: none;
    font-weight: bolder;
    margin-bottom: 2%;
}

.finish-p{
    height: 20%;
    background-color: transparent;
    font-size: 21px;
}
/************ FINISHED PAGE END *******************************/

/********** TO DO ***************/
/* container */
.container p {
    text-align: justify;
    padding: 20px 20px 20px 20px;
    display: block;
    font-size: 20px;
    line-height: 2em;
}

.container h1 {
    text-align: center;
    padding-bottom: 3%;
    /*background-color: grey;*/
    padding-top: 3%;
    color: #5498cb;
    width: 100%;
}

.container h3 {
    text-align: center;
    padding-top: 1%;
    /*background-color: grey;*/
    margin-top: -4%;
    color: #5498cb;
    width: 100%;
}

.container h4 {
    text-align: center;
    padding-top: 1%;
    /*background-color: grey;*/
    margin-top: -4%;
    color: #5498cb;
    width: 100%;
}

.center {
    text-align: center;
}
.container h5 {
    text-align: center;
    padding-top: 1%;
    /*background-color: grey;*/
    margin-top: -4%;
    color: #5498cb;
    width: 100%;
}
/* button */
.btn {
    transition: .2s ease;
    background-color: transparent;
    border-color: #5498cb;
    color: #5498cb;
    border-radius: 1.5em;
    text-align: center;

}
/********** TO DO END ***************/

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
   /* border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
    background-color: transparent;
    border: 1px solid #5498cb;
    border-radius: 1.5em;
    color: #5498cb;
    padding: 5px 20px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 1px;
    color: white;
    /*text-shadow: white;*/
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}
/************ LOGIN MODAL END *********************/

/************ CHROME FORM FIX *********************/
input:-webkit-autofill, input:focus:-webkit-autofill, input:hover:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}
/************ CHROME FORM END *********************/